@model Modelo.ViewModels.OfertaViewModel

@{
    Layout = null;
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <div style="display:flex">
                <div style="width:97%">
                    <h3 class="modal-title" id="modalVisualizar">Oferta</h3>
                </div>
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:red">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <div class="modal-body">

                @Html.AntiForgeryToken()

                <h4>Cliente</h4>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Cliente.ClienteId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cliente.ClienteNome, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cliente.ClienteNome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cliente.ClienteNome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cliente.ClienteCpf, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cliente.ClienteCpf, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cliente.ClienteCpf, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cliente.ClienteTelefone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cliente.ClienteTelefone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cliente.ClienteTelefone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cliente.ClienteCredito, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cliente.ClienteCredito, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                            @Html.ValidationMessageFor(model => model.Cliente.ClienteCredito, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("", "Status Atual", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cliente.Status.StatusDescricao, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                            @Html.ValidationMessageFor(model => model.Cliente.Status.StatusDescricao, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <hr /><h4>Endereço de Entrega</h4>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Oferta.OfertaRua, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Oferta.OfertaRua, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Oferta.OfertaRua, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Oferta.OfertaNumero, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Oferta.OfertaNumero, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Oferta.OfertaNumero, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Oferta.OfertaComplemento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Oferta.OfertaComplemento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Oferta.OfertaComplemento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Oferta.OfertaBairro, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Oferta.OfertaBairro, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Oferta.OfertaBairro, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Oferta.OfertaCidade, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Oferta.OfertaCidade, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Oferta.OfertaCidade, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Oferta.OfertaEstado, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Oferta.OfertaEstado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Oferta.OfertaEstado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Oferta.OfertaCep, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Oferta.OfertaCep, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Oferta.OfertaCep, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <hr /><h4>Produtos</h4>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.DisplayName("Descrição")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Preço")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Tipo")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Código")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Produtos)
                                    {
                                        <tr>
                                            <td>
                                                @Html.CheckBox("Produto" + item.ProdutoId.ToString())
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProdutoDescricao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProdutoPreco, new { @type = "" })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProdutoTipo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProdutoCodigo)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr /><h4>Status</h4>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.DisplayName("Descrição")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Finaliza Cliente")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Contabiliza Venda")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Cód. Status")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Statuses)
                                    {
                                        <tr>
                                            <td>
                                                @Html.RadioButtonFor(modelItem => item.StatusId, item.StatusId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StatusDescricao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StatusFinalizaCliente)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StatusContabilizaVenda)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StatusCodigo)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
    function validaOferta() {

    }
</script>