@model IEnumerable<Modelo.Tabelas.Cliente>

@{
    ViewBag.Title = "TesteExcluir";
}

<h2>TesteExcluir</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteCpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteTelefone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteCpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteCredito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteTelefone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClienteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClienteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClienteId })
        </td>
    </tr>
}

</table>
